{
  "mcpServers": {
    "serena": {
      "type": "stdio",
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/oraios/serena",
        "serena",
        "start-mcp-server",
        "--context",
        "ide-assistant",
        "--project",
        "."
      ],
      "env": {}
    }
  },
  "perplexity-mcp": {
    "env": {
      "PERPLEXITY_API_KEY": "",
      "PERPLEXITY_MODEL": "sonar-reasoning-pro"
    },
    "command": "uvx",
    "args": ["perplexity-mcp"]
  }
}
